@{
    ViewData["Title"] = "Home";
    ViewData["BodyClassName"] = "page-home";
}

<p class="h1 text-center">
    <a asp-controller="Car" class="btn btn-primary btn-lg" role="button">Show me the cars</a>
</p>