html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 71px;
    padding-top: 50px;
    padding-bottom: 20px;
}

body.page-home,
body.page-listing {
    background-color: #ddd;
}

body.page-details {
    background-color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.field-validation-error {
    background-color: #f7d6d6;
    display: block;
    padding: 5px 5px 5px 10px;
}

header {
    background-color: #fff;
    border-bottom: 5px solid #337ab7;
}

header .container {
    height: 100px;
    padding-top: 10px;
    padding-top: 10px;
}

header .container .logo {
    color: inherit;
    text-decoration: none;
}

.color-blue {
    color: #337ab7;
}

.listing-container > .h4 {
    color: #337ab7;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
}

.listing-container .panel {
    border: none;
}

.listing-container .panel .panel-heading {
    padding: 0;
}

.listing-container .panel .panel-heading a {
    display: block;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
}

.listing-container .panel .panel-heading a:hover {
    color: #fff;
}

.listing-container .panel .panel-body .comments {
    color: #808080;
    display: inline-block;
}

.listing-container .panel .panel-body .price-container {
    display: inline-block;
    font-weight: bold;
}

.listing-container .panel .panel-body .price-container .price {
    font-size: 22px;
}

.listing-container .panel .panel-body .price-container .price-desc {
    font-size: 11px;
}

.listing-container .panel .panel-footer .private {
    color: #359700;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
}

.listing-container .panel .panel-footer .dealer {
    color: #ec971f;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
}

.listing-container .panel .panel-footer .btn-primary {
    font-weight: bold;
}

.nav-subheader {
    border-bottom: solid 3px #337ab7;
    font-size: 12px;
    line-height: 50px;
}

.nav-subheader .glyphicon-chevron-left {
    color: #808080;
    font-size: 18px;
    margin-right: 7px;
    top: 4px;
}

.details-container .h3.name {
    font-weight: normal;
}

.details-container .private,
.details-container .dealer {
    padding-bottom: 10px;
}

.details-container .private {
    color: #359700;
}

.details-container .dealer {
    color: #ec971f;
}

.details-container .price-container {
    font-weight: bold;
    padding-bottom: 10px;
}

.details-container .price-container .price {
    font-size: 22px;
}

.details-container .price-container .price-desc {
    font-size: 11px;
}

.details-container .comments-container > .h5 {
    font-weight: bold;
}

.details-container .comments-container .comments {
    color: #808080;
    white-space: pre-wrap;
}

.details-container .panel-enquiry {
    background-color: #eee;
    margin: 20px 0 0 0;
}

.details-container .panel-enquiry .panel-body > .h4 {
    font-weight: bold;
    margin-top: 0;
}

.details-container .panel-enquiry .panel-body .btn-warning {
    font-weight: bold;
    width: 100%;
}

.details-container .panel-private,
.details-container .panel-dealer {
    background-color: #f6f6f6;
}

.details-container .panel-private .panel-body > .h4,
.details-container .panel-dealer .panel-body > .h4 {
    font-weight: bold;
}

.details-container .panel-private .panel-body .table,
.details-container .panel-dealer .panel-body .table {
    margin-bottom: 0;
}

.details-container .panel-private .panel-body .table > tbody > tr > td,
.details-container .panel-dealer .panel-body .table > tbody > tr > td {
    border: none;
    color: #808080;
    font-size: 12px;
    padding-bottom: 0;
    padding-left: 0;
}

.thankyou-container > .h4 {
    font-weight: bold;
}

.thankyou-container > .message {
    color: #808080;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}