@{
    ViewData["Title"] = "Thank You - Enquiry";
    ViewData["BodyClassName"] = "page-details";
}

<div class="thankyou-container">
    <div class="nav-subheader">
        <a asp-controller="Car" asp-action="Index"><span class="glyphicon glyphicon-chevron-left"></span>Back to the cars</a>
    </div>
    <p class="h4">Thank you for your enquiry.</p>
    <p class="message">The dealer/private seller will contact you shortly.</p>
</div>